<div class="container-winner">
  @for (winner of winners; track winner.id) {
  <div class="winner" (click)="handleSelectUser(winner.id)">
    <div class="winner__avatar">
      <img
        height="60"
        width="60"
        [src]="winner.name | avatarUrl"
        alt="winner-{{ winner.id }}"
      />
    </div>
    <p class="winner__name">{{ winner.name }}</p>
    <div class="winner__pts">🟢 {{ winner.id | randomPoints }}</div>
    <div class="winner__box">{{ winner.index }}</div>
  </div>
  }
</div>

@if (isDetailWinnerOpen) {

<app-modal (closeModal)="handleCloseDetail()">
  <app-user-details [id]="selectedWinner" />
</app-modal>
}
