<div class="container-winner">
  <div class="winner">
    <div class="winner__avatar">
      <img
        src="https://api.dicebear.com/9.x/micah/svg?seed=winner-2"
        alt="winner-2"
      />
    </div>
    <p class="winner__name">Leo Alexander</p>
    <div class="winner__pts">🟢 200</div>
    <div class="winner__box">2</div>
  </div>

  <div class="winner">
    <div class="winner__avatar">
      <img
        src="https://api.dicebear.com/9.x/micah/svg?seed=winner-1"
        alt="winner-1"
      />
    </div>
    <p class="winner__name">John Doe</p>
    <div class="winner__pts">🟢 300</div>
    <div class="winner__box">1</div>
  </div>

  <div class="winner">
    <div class="winner__avatar">
      <img
        src="https://api.dicebear.com/9.x/micah/svg?seed=winner-3"
        alt="winner-3"
      />
    </div>
    <p class="winner__name">Jane Doe</p>
    <div class="winner__pts">🟢 50</div>
    <div class="winner__box">3</div>
  </div>
</div>
