// Define theme colors
$primary-color: #343640;
$secondary-color: #6c757d;
$background-color: #1d1f2a;
$background-secondary-color: #574d48;

// Define gradient colors
$bg-gradient: linear-gradient(
  to bottom,
  $background-secondary-color 10%,
  $background-color 50%
);

// Define fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$primary-font: "Roboto", sans-serif;
$secondary-font: "Arial", sans-serif;
