<div class="container-participant">
  @for (participant of participants; track participant.id; let idx = $index) {
  <div class="participant" (click)="handleSelectUser(participant.id)">
    <p class="number">{{ participant.id }}</p>
    <div class="participant__profile">
      <div class="participant__avatar">
        <img
          height="32"
          width="32"
          [src]="participant.name | avatarUrl"
          alt="participant-{{ participant.id }}"
        />
      </div>
      <div class="info">
        <p class="participant__name">{{ participant.name }}</p>
        <div class="participant__pts">
          🟢 {{ participant.id | randomPoints }}
        </div>
      </div>
    </div>
  </div>

  @if (idx < participants.length - 1) {
  <hr class="divider" />
  } }
</div>

@if (isDetailParticipantOpen) {
<app-modal (closeModal)="handleCloseDetail()">
  <app-user-details [id]="selectedParticipant" />
</app-modal>
}
