@import "styles";

.container-participant {
  background: $primary-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 3rem 0 $background-color;
  height: calc(100svh - 400px);
  max-width: 700px;
  margin: auto;
  position: relative;
  z-index: 10;
  padding: 1rem;
}

.participant {
  display: flex;
  gap: 1.5rem;
  padding: 0 1rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    cursor: pointer;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__avatar {
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: auto;
    height: 32px;
    width: 32px;
    overflow: hidden;
  }

  &__name {
    margin: 0;
  }

  &__pts {
    font-size: smaller;
  }
}
