<div class="container-participant">
  <div class="participant">
    <p class="number">4</p>
    <div class="participant__profile">
      <div class="participant__avatar">
        <img
          height="32"
          width="32"
          src="https://api.dicebear.com/9.x/micah/svg?seed=participant-4"
          alt="participant-4"
        />
      </div>
      <div class="info">
        <p class="participant__name">Bruce Wayne</p>
        <div class="participant__pts">🟢 49</div>
      </div>
    </div>
  </div>

  <hr class="divider" />

  <div class="participant">
    <p class="number">5</p>
    <div class="participant__profile">
      <div class="participant__avatar">
        <img
          height="32"
          width="32"
          src="https://api.dicebear.com/9.x/micah/svg?seed=participant-5"
          alt="participant-5"
        />
      </div>
      <div class="info">
        <p class="participant__name">Trump Donald</p>
        <div class="participant__pts">🟢 45</div>
      </div>
    </div>
  </div>
</div>
